MyClothes_bot/application/User/*
MyClothes_bot/application/handlers/parserANDdb/zara_log.ini
MyClothes_bot/application/handlers/parserANDdb/create_config.py
MyClothes_bot/application/handlers/database/db_login_data.ini
MyClothes_bot/application/handlers/database/orders.xlsx
MyClothes_bot/application/token.ini
MyClothes_bot/application/handlers/parserANDdb/rethinkdb_createAio.py
totalAmountOrder_bot/application/token.ini
totalAmountOrder_bot/application/rethinkDB/rethinkdb_create_db.py
